* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}


html {
    --black: #0D114F;
    --white: #FAFAFA;
    --red: #E83F5B;
    --light-blue: #E0ECFF;
    --blue: #3485FF;
    --bacground: #F6FAFF;
    --overlay: #040911;
    --icons-details: #A5B0C1;
    
    --grey-dark: #4D5E77;
    --grey-blue: #A1B2CD;
    --grey-light: #E5EAF1;
}

body {
    height: 100vh; /*VH é p/ o layout pegar 100% da tela */
    background: var(--background);

}

body, button, input, textarea {
    font-size: clamp(14px, 16rem, 2vw); /*clamp é um intervalo de tamanho (no menor tamanho, padrão da letra, letra no máximo)*/
    
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}

.content {
    /*nosso conteúdo (vamos aplicar na div id="room")*/
    width: 100%;
    margin: 0 auto;

}

.sr-only {
    /*escondendo a label*/
    position: absolute; /*coloca a label bem em cima do input*/
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden; /*para não ter arra de rolagem*/
    clip-path: rect(0, 0, 0, );
    white-space: nowrap;
    border-width: 0;
    
}


input, button .button {
    border-radius: 0.8rem;
    height: 5rem;
}
